<section class="wrapper">
  	<h1 class="title">Contact</h1>
  	<p class="titlebg"></p>
  		<section class="register">
  			<form id="register-form" action="" method="">
  				<fieldset>
  					<legend></legend>
  					<ol>
  						<li class="left"><input id="emailcontact" class="" type="text" placeholder="email" />
  							<!-- <p>email error message</p> -->
  						</li>
  						<li class="left"><input id="subject" class="" type="text" placeholder="subject" />
  							<!-- <p>subject error message</p> -->
  						</li>
  						<li class="left"><textarea id="message" placeholder="put your message here" name="message" type="text" rows="5" cols="39"></textarea>
  							<!-- <p>message error message</p> -->
  						</li>
  						<li class="left"><input id="submitbtn" type="submit" value="Submit"/>
  						</li>
  						
  					</ol>
  				</fieldset>
  			</form>
  			
	  		
  		</section> <!-- close articles class -->
  		<section id="autocomplete">
  			<section class="autoitem">
  				<h3>Name</h3>
  				<p>email</p>
  				<p class="email">numfriends</p>
  				
  			</section><!--close autoitem-->
  		</section> <!-- close autocomplete-->
  		
  </section> <!-- close wrapper class -->